.new-tweet {
    border-radius: 1em;
    border: 1px solid lightgrey;
    background-color: lightgrey;
    padding: 12px;
    margin: 2em;
}

.errColor {
    color: red;
}

.new-tweet h2 {
    border-bottom: 1px solid #244751;
    margin: 10px 0px;
}

textarea {
    width: 100%;
}

.counter {
    float: right;
}

input[form]:hover {
    background-color: whitesmoke
}

.error {
    margin: 0 20px;
    color: red;
    padding: 5px;
}